<h2>My Heroes</h2>
<!--Lista não ordenada-->
<ul class="heroes">
    <!--For para mostrar todos os registros-->
    <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
</ul>

<!-- Vinculando o objeto Hero para visualização -->
<!-- <h2>{{hero.name | uppercase}} Details</h2>
    Substituído pelos detalhes conforme clique
<div><span>id: </span>{{hero.id}}</div> -->

<!--Input para alterar nome, já recebendo o nome constante no objeto
[(ngModel)] é a sintaxe de ligação de dados bidirecional do Angular.
Substituído pelos detalhes conforme clique -->
<!-- <div>
    <label for="name">Hero name: </label>
    <input id="name" [(ngModel)]="hero.name" placeholder="name">
</div> -->

<!--Item que especifica o herói selecionado para apresentar os detalhes (hero-detail.component)-->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>