<h2>My Heroes</h2>
<!--Lista não ordenada-->
<ul class="heroes">
    <!--For para mostrar todos os registros-->
    <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
        <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
    </li>
</ul>

<div>
    <label for="new-hero">Hero name: </label>
    <input id="new-hero" #heroName />

    <!-- (click) passes input value to add() and then clears the input -->
    <button class="add-button" (click)="add(heroName.value); heroName.value=''">
      Add hero
    </button>
</div>



<!-- Vinculando o objeto Hero para visualização -->
<!-- <h2>{{hero.name | uppercase}} Details</h2>
    Substituído pelos detalhes conforme clique
<div><span>id: </span>{{hero.id}}</div> -->

<!--Input para alterar nome, já recebendo o nome constante no objeto
[(ngModel)] é a sintaxe de ligação de dados bidirecional do Angular.
Substituído pelos detalhes conforme clique -->
<!-- <div>
    <label for="name">Hero name: </label>
    <input id="name" [(ngModel)]="hero.name" placeholder="name">
</div> -->

<!--Item que especifica o herói selecionado para apresentar os detalhes (hero-detail.component)-->
<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->